<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h2>Enter your text to analize </h2>
<form action='/analyze' method='get'>
    <textarea name='text'  style="margin: 0px; width: 1513px; height: 182px;"></textarea><br>
    <input type='checkbox' name='Removepunc'>Removepunc <br><br>
    <input type='checkbox' name='fullcaps'>UPPERCASE <br><br>
    <input type='checkbox' name='newlineremover'>Remove new line <br><br>
    <input type='checkbox' name='spaceremover'>remove extra space <br><br>

    <button type='submit' >Analize the text </button>
</form>
</body>
</html>